* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: blueviolet;
}

.card {
  border: 2px solid steelblue;
  border-radius: 20px;
  width: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  color: blue;
}

.container-productos {
  border: 2px solid steelblue;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
